<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.ataulm.chunks">

  <application
    android:name="com.ataulm.chunks.ChunksApplication"
    android:allowBackup="true"
    android:icon="@drawable/ic_logo"
    android:label="@string/app_name"
    android:theme="@style/Theme.Chunks"
    tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".ChunksActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>

    </activity>

    <activity-alias
      android:name="activity.primary_launcher"
      android:targetActivity=".ChunksActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

    </activity-alias>

  </application>

</manifest>
